*{
	margin: 0;
	padding: 0;
}

.fono{
	font-size: 10px;
	}
.cliente{
	letter-spacing: 1.5px;
	color: black;
}
::placeholder { 
	color: white;
}
header{
	margin: 1em 3em;
}
.logo{
	width: 130px;
}
nav ul li a{
	font-size: 12px;
}
.search, span{
	margin-top: 2em;
}
.glyphicon{
	margin: auto 2em;
}
.container-nav{
	background: #663cc0;	
}
.search{
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 2px solid white;
	background-color: transparent;
}
.secondSection{
	background-color: red;
	color: white;
	margin: 2px 0;
	letter-spacing: 1.5px;
	font-size: 1.5em;
	padding: 0.80em 0;
}
.sectionCarousel{
	margin: 2px 0;
}
.loQuiero{
	background-color: transparent;
	text-align: center;
	border: 2px solid white;
}
span, a{
	list-style: none;
	color: white;
}
section{
	margin: 2em auto;
}
.container-images{
	width: 100%;
}
.container-images img{
	max-width: 80%;
	margin: 2em;
}

.container-img2 img{
	width: 18%;
	height: auto;
	margin: 0;
}
.container-zapatilla:hover img {
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
	transition: all 0.2s ease;
}
.container-img img{
	max-width: 90%;
}
.container-zapatilla, .container-img{
	overflow:hidden;
}
.container-img:hover img {
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
	transition: all 0.2s ease;
}
.look{
	font-family: 'Dancing Script', cursive;
	color: #663cc0;
}
.instagram{
	color: #663cc0;
}
footer{
	margin-top: 2em;
	background: black;
	color: white;
	max-height: 100%;
}
h5{
	letter-spacing: 1px;
	margin-bottom: 3em;
}
ul{
	list-style: none;
	font-size: 12px;
}
.lista{
	margin: 5em auto;
}
.contenido-footer, .redSocial{
	margin-top: 2.5em;
}
.eMail{
	width: 50%;
	background-color: transparent;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 2px solid white;
	padding: 9px 10px 9px 10px;
	box-shadow: none;
}
.btnEmail{
	background-color: transparent;
	padding: 0.50em;
	letter-spacing: 4px;
}
.icon{
	margin-left: 1em;
}

